{
  "name": "{{ .Name }}",
  "version": "{{ .Version }}",
  "description": "",
  "main": "src/index.ts",
  "scripts": {
    "test": "node tests",
    "asbuild": "asc src/index.ts --target release --use abort=src/index/abort"
  },
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "assemblyscript": "^0.18.31"
  },
  "dependencies": {
    "@assemblyscript/loader": "^0.18.31",
    "@suborbital/acmeco": "^0.1.0",
    "as-string-sink": "^0.4.2",
    "json-as": "^0.2.6",
    "visitor-as": "^0.6.0"
  }
}
