---
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: e2core-scaledobject
  namespace: suborbital
  labels:
    app: e2core
spec:
  scaleTargetRef:
    name: e2core-deployment
    envSourceContainerName: e2core
  pollingInterval: 5
  cooldownPeriod:  30
  minReplicaCount: 1
  maxReplicaCount: 50
  triggers:
    - type: metrics-api
      metadata:
        targetValue: "1"
        url: "http://e2core-service.suborbital.svc.cluster.local/meta/metrics"
        valueLocation: "scheduler.totalThreadCount"
