# the Directive is a complete description of your application, including all of its business logic.
# appVersion should be updated for each new deployment of your app.
# RuntimeVersion declares which version of E2Core is used for the `subo dev` command.

identifier: {{ .Environment }}.{{ .Name }}
appVersion: v0.1.0
runtimeVersion: v{{ .RuntimeVersion }}
handlers:
  - type: request
    resource: /hello
    method: POST
    steps:
      - fn: helloworld
